/*
 * LaraClassified - Classified Ads Web Application
 * Copyright (c) BedigitCom. All Rights Reserved
 *
 * Website: http://www.bedigit.com
 *
 * LICENSE
 * -------
 * This software is furnished under a license and may be used and copied
 * only in accordance with the terms of such license and with the inclusion
 * of the above copyright notice. If you Purchased from Codecanyon,
 * Please read the full License from here - http://codecanyon.net/licenses/standard
 */

/* Your custom CSS here... */

#wrapper {
     padding-top: 0px !important;
    background-color: #fff;
}

.top-bar {
    position: unset;
}

.top-bar {
    background: #333;
    height: 45px;
    position: relative;
    overflow: hidden;
}

.top-bar .left-bar-side {
    float: left;
    margin-bottom: 0;
}

.top-bar ul li:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.top-bar .left-bar-side li {
    border: none;
    margin-right: 0;
}
.top-bar ul li {
    display: inline-block;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}
li {
    list-style: none;
}
*, :after, :before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

.top-bar .left-bar-side p {
    font-weight: 400;
    color: #e2e2e2;
    line-height: 40px;
    margin: 0;
    display: inline-block;
    line-height: 45px;
    font-size: 14px;
}

p {
    color: #555;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 24px;
}